body {
		background-color: #000641;

}


.logo img{
	margin-top: 15VH;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

 .bg{
	 z-index: -99;
	 background-image: url(../img/bg.png);
	 background-size: cover;
	 background-repeat: no-repeat;
	 min-height: 600pt;
	 position:absolute;
		bottom:0px;
		width:100%;
 }

img {
	margin-top: 100pt;
}
